---
import AboutUs from '../../modules/About/Components/AboutUs.astro';
import Therms from '../../modules/About/Components/Therms.astro';
import Privacy from '../../modules/About/Components/Privacy.astro';
import Articule from '../../modules/Information/components/Articule.astro';
import Layout from '../../modules/Information/Shared/InformationLayout.astro';
import ImageSection from '../../modules/Landing/shared/components/ImageSection/ImageSection';
import P from '../../modules/Landing/shared/components/P/P';
import BackButton from '../../components/UI/BackButton.astro';

const {theme} = Astro.params
---

<div class={`articules_conteiner ${theme}`}>
<Layout
	heroImage="/blog-placeholder-about.jpg"
>
<div class="flex flex-col ml-3 mt-2">
	<BackButton/>
</div>
    <AboutUs/>

    <br/>

    <Therms/>

    <br/>

    <Privacy/>
</Layout>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {

    const conteiner = document.querySelector('.articules_conteiner')
    const about = document.getElementById('about-us')
    const terms = document.getElementById('terms')
    const privacy = document.getElementById('privacy')

    if (about && conteiner?.className.includes('about-us')) {
        console.log(conteiner?.id)
        about.scrollIntoView({ behavior: 'smooth' });
    }
    if (terms && conteiner?.className.includes('terms')) {
        console.log(conteiner?.id)
        terms.scrollIntoView({ behavior: 'smooth' });
    }
    if (privacy && conteiner?.className.includes('privacy')) {
        privacy.scrollIntoView({ behavior: 'smooth' });
    }

  });
</script>
