---

import Header from "./components/Header/Header";
import Message from './components/Message/Message'
import Button from './components/Button/Button'


---

<div class="flex w-full justify-center px-7 pt-24">
    <div class="max-w-[600px] w-full flex flex-col items-center">
        <Header/>
        <Message/>
        <Button/>
    </div>
</div>