---

import Header from "./components/Header/Header";
import Message from './components/Message/Message'
import Button from './components/Button/Button'


---

<div class="flex w-full justify-center px-7 pt-16">
    <div class="max-w-[420px] w-full flex flex-col items-center">
        <Header/>
        <Message/>
        <Button client:load/>
    </div>
</div>