---
import Footer from "../../../../layouts/Footer.astro";
import AuthHeader from "../../../../layouts/AuthHeader.astro";
import Content from "./components/Content/Content"
import AccountsButton from "../../items/AccountsButton.astro";
import { getI18N } from "../../../../i18n";


const currentLocale  = Astro?.cookies.get('eons_lng')?.value || 'en'
const i18 = getI18N({ currentLocale })
---

<AuthHeader/>

<div class="flex w-full justify-center px-10 mb-12">
    <main class="flex flex-col w-full max-w-[500px]">
        <Content
            button_login={i18["Auth"].login_button} 
            button_singUp={i18["Auth"].singUp_button} 
            login_switch={i18["Auth"].login_switch}
            sing_up_switch={i18["Auth"].sing_up_switch}
            password_input_label={i18["Auth"].password_input_label}
            forget_pass={i18["Auth"].forget_pass}
            invalid_email_text={i18["Auth"].invalid_email_text}
            invalid_pass_text={i18["Auth"].invalid_pass_text}
            text_loading={i18.text_loading}
            client:load
        />

        <div class="flex flex-row justify-around mt-4">
            <AccountsButton text="Microsoft"/>
            <AccountsButton text="Apple"/>
            <AccountsButton text="Google"/>
        </div>
    </main>
</div>

<Footer/>
