---
import BackButton from "../../components/UI/BackButton.astro";
import Footer from "../../layouts/Footer.astro";
import Header from "../../layouts/Header.astro";
import List from "./components/List/List";


---

<Header/>
<div class="flex flex-col ml-3 mt-2">
    <BackButton/>
</div>
<List client:load/>
<Footer/>
