---
import Footer from "../../src/layouts/Footer.astro";
import Header from "../../src/layouts/Header.astro";
import List from "./components/List/List";


---

<body>
    <Header/>
    <List/>
    <Footer/>
</body>