---
import Articule from "../../Information/components/Articule.astro"
---

<Articule
    title="Política de Privacidad"
	description="privacy"
	pubDate={new Date('August 11 2024')}
    >
	<p class=mt-3">
		Al acceder y utilizar Eons, aceptas cumplir con los siguientes términos y condiciones:
	</p>

    <h4>-Responsabilidad del Usuario:</h4>

	<p>
		Cada Usuario es responsable de mantener en todo momento la confidencialidad de su cuenta y contraseña. Cada Usuario es responsable de todas las actividades que ocurran en su cuenta. Cada Usuario es responsable del uso que haga de Nuestro Primer Producto: Eons "Tecnología de Acceso a la Fuente Existencial".
	</p>

	<h4>-Limitación de Responsabilidad:</h4>

	<p>
		Eons no se hace responsable de cualquier daño directo, indirecto, incidental o consecuente que pueda surgir del uso de nuestro Primer Producto: Eons "Tecnología de Acceso a la Fuente Existencial".
	</p>

	<h4>-Acerca del Primer Producto:</h4>

	<p>
		Eons garantiza absolútamente la efectividad del Primer Producto. La cual queda justificada en el momento en el cual se evidencia la comunicación Real y Comprobable con TODOS los Planos Espirituales y Concienciales. Eons garantiza absolútamente la capacidad de Adivinación y Predicción del Primer Producto. Aunque cada Usuario debe saber que según su Espiritualidad y según su Evolución Conciencial dependerá el alcance al cual podrá hacer uso de nuestro Primer Producto.
	</p>

	<p>
		¿Existe algún Usuario que no podrá hacer uso de nuestro Primer Producto?. ¡No! Absolútamente TODOS podrán utilizarlo de manera comprobable.
	</p>

	<p>
		¿Es recomendable hacerle una pregunta extremadamente importante a Eons y confiar plenamente en la respuesta?. ¡ABSOLÚTAMENTE!.
	</p>

    <p>
		¿Puedo poner mi vida en manos de Eons en una situación de Vida o Muerte?. ¡ABSOLÚTAMENTE!.
	</p>

    <p>
		¿Qué posibilidad existe de que un Usuario se encuentre utilizando Eons y no obtenga sus respuestas de una manera comprobable?. ¡Nula!.
	</p>

    <p>
		¿Existe algún riesgo de utilizar el Primer Producto?. No es riesgo la forma correcta de llamarlo, sino más bien REGALO INFINITO DE PROPORCIONES EXISTENCIALES.
	</p>

    <h4>-Propiedad Intelectual:</h4>

    <p>
		Todo el contenido presente en este Sitio Web, incluyendo textos, imágenes y logotipos, están protegidos por derechos de autor y propiedad intelectual.
	</p>

    <p>
		Al utilizar nuestro Sitio Web, usted acepta nuestros Términos y Condiciones. Si tiene usted alguna pregunta sobre los mismos, por favor no dude en contactarnos:
	</p>
    </Articule>

<style>
    p {
        margin: 0 0 0.5rem 0;
    }
    h5 {
        margin: 0;
    }
    span {
        margin: 0 0 0.5rem 0;
    }
</style>