---
import Articule from "../../Information/components/Articule.astro"
import ImageSection from "../../Landing/shared/components/ImageSection/ImageSection"
---

<Articule
    title="Acerca de Nosotros"
	description="about-us"
	pubDate={new Date('August 10 2024')}
    >
	<h4>Historia de Nuestras Raíces y de Nuestro Creador:</h4>

	<ImageSection reverse={true} image="/pixelcut-export (7) webp.webp">
	<p class="">
		Eons es el resultado de un Inmenso Caos y un Infinito Sacrificio. 
		Es imposible hablar de sus raíces sin antes conocer la historia que llevó a Luis Eduardo Delgado Alonso, 
		CEO de Eons, a su creación:</p>
	</ImageSection>

	<p class="mt-3">
		Luis Eduardo Delgado Alonso, nacido el 16 de Julio de 1993 en Ciudad de la Habana, Cuba. Desde muy temprana edad mostró una inmensa pasión por la Tecnología, la Ciencia y las Matemáticas. 
	</p>

	<p>
		A sus 10 años de edad recibe un duro golpe de la vida, perdiendo a su Madre de una manera que lo dejaría marcado para siempre.
	</p>

	<p>
		Obligado a comprender la vida antes de tiempo, Luis Eduardo comienza a desarrollar una mentalidad de emprendimiento, y junto a su pasión por la tecnología empieza su primer negocio entre los 15 y 16 años de edad.
	</p>

	<p>
		Negocio que no tardó en comenzar a dar sus beneficios poco a poco.
	</p>

	<p>
		Entre los 18 y los 19 años de edad, estando su negocio en florecimiento, Luis Eduardo comienza sus estudios de Ciencias de la Computación en la Universidad de la Habana. Encontrándose atrapado entonces entre 2 caminos: Terminar los estudios Universitarios de sus sueños, o aprovechar completamente la época de crecimiento económico en la cual se encontraba. 
	</p>

	<p>
		Finalmente un tiempo después comienza a sentir que lo que había ido a buscar a la Universidad ya lo había obtenido. Decidiendo entonces  abandonar los estudios y dedicarse completamente a los negocios.
	</p>

	<p>
		Unos años pasan, los negocios continúan floreciendo cada vez más. Hasta que llegó el momento donde el Caos comenzó. 
	</p>

	<p>
		Se sentía como una fuerza incomprensible e ilógica actuando encima de la vida, una fuerza a la cual es prácticamente imposible de escapar. Simplemente sin importar la perfección de los actos o las precauciones cada aspecto de la vida iba siendo destruido sin detención.
	</p>

	<p>
		En aquellos entonces de un momento a otro todos los negocios comenzaron a irse abajo, la forma de percibir la vida se volvió algo distorsionada, el entorno social comenzó a cambiar notablemente, un indetenible ciclo de problemáticas comenzaron a aparecer sin explicación en el día a día.
	</p>

	<p>
		Bajo unas condiciones que no dejaban de empeorar cada vez más, y tras comprender que es imposible vivir de esa manera. Luis Eduardo decide dedicarse a tiempo completo a realizar múltiples análisis profundos buscando una explicación lógica que explicara dicha fuerza que actuaba constantemente encima de él.
	</p>

	<p>
		Fue entonces cuando ocurrió el primer real acercamiento de Luis Eduardo a los temas Espirituales, descubriendo al poco tiempo que la enorme fuerza incomprensible que actuaba encima de él, era en realidad un problema Espiritual.
	</p>

	<p>
		En ese momento apareció un reto en su vida de proporciones Infinitas, pues dicho problema Espiritual era tan grave que luego de contactar múltiples personas, cada una con diferentes métodos Espirituales, diferentes especialidades, e intentar una enorme variedad de cosas, nadie lo podía resolver. 
	</p>

	<p>
		No quedándole otro camino que él mismo, bajo las peores condiciones imaginables, profundizar con mentalidad científica y realista en todos  los temas Espirituales para encontrar la solución definitiva a tan desastroso problema.
	</p>

	<p>
		En ese punto, a mediado de sus 25 años de edad, comenzó lo que se podría describir como el desafío más grande en la vida de Luis Eduardo, y al mismo tiempo lo que luego traería un desenlace que terminaría en la creación  de Eons.
	</p>

	<p>
		Pues a partir de ese momento, sin descanso, Luis Eduardo comenzó una investigación Científica tanto teórica como práctica de todas las Religiones, Sistemas Esotéricos, Ciencias Ocultas, Misticismo. 
	</p>

    <p>
		Todo evaluado de una manera detallada, con mente fría, con un solo objetivo, revelar todos los secretos y todas las verdades para poder resolver el problema que de forma tan sorpresiva había aparecido en su vida y no le permitía vivir.
	</p>

    <p>
		De esa manera, Eons es el resultado de los últimos 6 años de investigaciones de Luis Eduardo. Eons es el resultado de un viaje turbulento hacia los secretos más profundos de las Ciencias Ocultas y el Misticismo sin perder nunca de vista el enfoque Científico y realista.
	</p>

    <p>
		Eons es el resultado de un Compromiso Infinito naciente de guiar a la Humanidad hacia el Sentido Creacional Existencial. Eons es la Luz que Ilumina TODOS LOS CAMINOS Y TODAS LAS VERDADES DEL UNIVERSO Y DE LA EXISTENCIA MISMA.
	</p>

    <p>
		Tras comprender que tanto la Ciencia, como la Tecnología, el Misticismo, como todo aquello que entre en el ámbito de lo llamado Ciencias Ocultas, TODO forma parte de una misma cosa: la Realidad Existencial.
	</p>

    <p>
		Sin dejar de lado sus Raíces, la mentalidad de emprendimiento que tanto siempre lo ha caracterizado, ahora algo más refinada tras un profundo estudio de Estrategias Empresariales y Economía Mundial.
	</p>

    <p>
		Fue así literalmente como Luis Eduardo  dio comienzo al desenlace inevitable e indetenible de proporciones Cósmicas que Eons representa realmente.
	</p>

    <h4>Breve descripción:</h4>

    <p>
		En Eons, no navegamos por el mundo de los negocios, lo transformamos. Somos pioneros, visionarios, y sobre todo, Auténticos Líderes a Nivel Universal. Nuestro propósito va Infinitamente más allá de ofrecer soluciones a Nivel Mundial. Pues buscamos redefinir lo posible y cambiar para siempre el rumbo del Universo y de la Existencia misma hacia la Luz, la Abundancia y la Felicidad Infinita.
	</p>

    <h4>Nuestra Filosofía:</h4>

    <p>
		En una Existencia llena de oportunidades, creemos que cada desafío es una invitación a innovar. No seguimos tendencias, las creamos. Nuestra Filosofía se basa en el poder de la colaboración, la positividad y la audacia. Aquí, cada idea cuenta, y cada voz es escuchada. 
	</p>

    <h4>Nuestro Equipo:</h4>

    <p>
		Nuestro Equipo es un grupo de Mentes Brillantes. Juntos, formamos una Constelación de Talentos que Brilla Intensamente a lo largo de una Infinidad de Infinidades. Liderados por Luis Eduardo Delgado Alonso, El Primer y Único Ser en obtener la aprobación de ABSOLÚTAMENTE TODOS LOS PLANOS ESPIRITUALES Y CONCIENCIALES. En Eons no somos solo colegas, somos Aliados en la búsqueda de un solo objetivo: "Llevar a la Humanidad a Escala Universal".
	</p>

    <h4>Compromiso con la Innovación:</h4>

    <p>
		La innovación no es solo una palabra para nosotros, es Nuestra Esencia misma. Siempre manteniendo la Exclusividad y el Elitismo, a la Vanguardia del cambio, explorando nuevas fronteras y desafiando el status quo. En Eons, cada proyecto es una aventura Épica donde la creatividad y la estrategia se entrelazan para crear resultados extraordinarios.
	</p>

    <h4>Contáctenos:</h4>

    <p>
		¡Estamos aquí para ayudarte! Tu satisfacción es nuestra prioridad, así que no dudes en ponerte en contacto con nosotros a través de cualquiera de las siguientes opciones:
	</p>

    <h5>-Soporte Técnico:</h5>
    <a href="eonss7070@gmail.com" target="_blank">eonss7070@gmail.com</a>

    <h5>-Atención al Cliente:</h5>
    <a href="eonss7070@gmail.com" target="_blank">eonss7070@gmail.com</a>

    <h5>-Asuntos de Negocios:</h5>
    <a href="eonss7070@gmail.com" target="_blank">eonss7070@gmail.com</a>

    <p class="mt-3">
		Síguenos en las Redes Sociales y mantente al tanto de nuestras novedades.
	</p>

    <h5>-Facebook:</h5>
    <a href="eonss7070@gmail.com" target="_blank">eonss7070@gmail.com</a>

    <h5>-Instagram:</h5>
    <a href="eonss7070@gmail.com" target="_blank">eonss7070@gmail.com</a>
    
    <p class="mt-3">
		Nuestro canal de YouTube, donde podrá ver nuestras novedades en múltiples idiomas:
        (Link)
	</p>

    <p>
		¡Esperamos por usted!
	</p>

    </Articule>

<style>
    p {
        margin: 0 0 0.5rem 0;
    }
    h5 {
        margin: 0;
    }
    span {
        margin: 0 0 0.5rem 0;
    }
</style>