---
import Terms from '../../modules/About/Components/Therms.astro';
import Layout from '../../modules/Information/Shared/InformationLayout.astro';
import BackButton from '../../components/UI/BackButton.astro';

---

<div class={`articules_conteiner`}>
<Layout
	heroImage="/blog-placeholder-about.jpg"
>
<div class="flex flex-col ml-3 mt-2">
	<BackButton/>
</div>
    <Terms/>
</Layout>
</div>
