---
import Footer from "../../layouts/Footer.astro";
import Header from "../../layouts/Header.astro";
import NewContent from './components/NewContent/NewContent'
---

<div class="flex flex-col min-h-svh justify-between">
    <Header/>
   <NewContent client:load/>
    <Footer/>
</div>