---
import Launch from '../../modules/Launch/Launch';
import AppContainer from "../../layouts/AppContainer.astro";
import Footer from "../../layouts/Footer.astro";
import Header from "../../layouts/Header.astro";


const token = Astro.cookies.get('eons_token')?.value || ''
const mode = Astro.url.searchParams.get('mode') || 'normal'; // 'normal' o 'dialogo'
const tipoConsulta = mode === 'dialogo' ? 'dialogo-abierto' : 'evaluacion-general';

// Para diálogo abierto son 6 lanzamientos (2 iniciales + 3 principales + opcional 1 sistemita)
const steps = mode === 'dialogo' ? 6 : 7;
---

<AppContainer>
    <Header/>
    <div class="flex flex-col ml-3 mt-2">
        
    </div>
    <Launch token={token} type={tipoConsulta} steps={steps} client:load />
    <Footer/>
</AppContainer>