.card {
  width: 100%;
  max-width: 900px;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
  background-color: #d161b4;
  border-radius: 10px;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: 0.2s;
  background: white;
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  border-radius: 10px;
  background: linear-gradient(
    45deg,
    #ddc5d8,
    #d183bc,
    #be4498,
    #c23b95,
    #c4268c,
    #d61693
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 12s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.card:after {
  filter: blur(60px);
}

.throw-counter {
  margin: 0rem;
}

.span {
  color: #232323;
  font-weight: 700;
}

.coin_number {
  align-items: center;
}

.coin_number span {
  font-weight: 500;
}

.top {
  margin-top: 2rem;
}
