.span {
    color: #232323;
    font-weight: 700;
}

.throw-counter{
    margin: 0rem
}

.card{
    border-width: 1px;
    padding: 1em;
}

.coin_number{
    align-items: center;
}

.coin_number span{
    font-weight: 500;
}

.top{
    margin-top: 2rem;
}