---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Your name here. All rights reserved.
	<div class="social-links">
		<a href="https://m.webtoo.ls/@astro" target="_blank">
			<span class="text-base p-4">Acerca de Nosotros</span>
		</a>
		<a href="https://twitter.com/astrodotbuild" target="_blank">
			<span class="text-base p-4">Términos y Condiciones</span>
		</a>
		<a href="https://github.com/withastro/astro" target="_blank">
			<span class="text-base p-4">Política de Privacidad</span>
		</a>
	</div>
</footer>
<style>
	footer {
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		margin: 0;
		padding: 2em 1em 3em 1em;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: rgb(var(--gray-dark));
	}
	.social-links {
		display: flex;
		justify-content: space-around;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray-dark));
	}
	.social-links a:hover {
		color: rgb(var(--gray));
	}
</style>
