---
import Header from "../../layouts/Header.astro";
import Footer from "../../layouts/Footer.astro";
import First from "./components/First/First";
import Second from "./components/Second/Second";
import Third from "./components/Third/Third";
import FirstStep from './components/FirstStep/FirstStep'
import SecondStep from './components/SecondStep/SecondStep'
import Forth from './components/Forth/Forth'

const auth = Astro.cookies.get('eons_token')?.value || ''
---
<div class="flex w-full flex-col">
    <Header path="landing"/>

    <div class="flex w-full flex-col items-center px-5 mb-12">
      <main class="w-full flex-col flex max-w-[1100px] lg:pt-0 pt-10">
        <First/>
        <FirstStep />
        <Second auth={auth}/>
        <Forth />
        <SecondStep />
        <Third />
      </main>
    </div>
    <Footer />
</div>