---

import Header from "./React/components/Header/Header";
import Message from './React/components/Message/Message'
import Button from './React/components/Button/Button'
import { getI18N } from "../../../../i18n";
import AuthHeader from "../../../../layouts/AuthHeader.astro";
import Footer from "../../../../layouts/Footer.astro";
import ForgetPassReact from "./React/ForgetPassReact";

const currentLocale  = Astro.cookies.get('eons_lng')?.value || 'es'
const i18 = getI18N({currentLocale})
---
<AuthHeader/>
<div class="flex w-full justify-center px-7 pt-16">
    <div class="max-w-[420px] w-full flex flex-col items-center mb-12">
        <Header/>
        <Message message={i18["RessetPassword"].message} title={i18["RessetPassword"].title}/>
        <ForgetPassReact i18={i18} client:load/>
    </div>
</div>
<Footer/>