---
import AuthHeader from "../../../../layouts/AuthHeader.astro";
import Footer from "../../../../layouts/Footer.astro";
import AccountsButton from "../../items/AccountsButton.astro";
---

<body>
    <AuthHeader/>
    <main class="flex flex-col">
        

        <div class="flex flex-row justify-around accounts">
            <AccountsButton text="Microsoft"/>
            <AccountsButton text="Apple"/>
            <AccountsButton text="Google"/>
        </div>
        
    </main>
    <Footer/>
  </body>

<style>

    html, body{
        margin: 0;
        padding: 0;
    }

    main {
        width: 70%;
        padding: 1em 1em
    }

    .login {
        border-width: 1px;
        border-radius: 9999px;
    }

    .inputs {
        padding: 0em 20%;
        margin-top: 2em;
    }

    .accounts {
        padding: 0em 10%;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    @media (min-width: 1500px){
        .inputs {
            padding: 0em 25%;
        }

        .accounts {
            padding: 0em 25%;
        }
    }

    @media (max-width: 800px){

        main {
            height: 80vh;
        }

        @media (max-height: 800px){
                main {
                    height: 90vh;
                }
                @media (max-height: 720px){
                    main {
                        height: 100vh;
                    }
                } 
        } 

        .accounts {
            padding: 0em 1em;
        }
        
        .inputs {
            padding: 0em 1em;
        }

        @media (max-width: 600px){
            .inputs {
                padding: 0em 0em;
            }

            .accounts {
                padding: 0em 0em;
            }
        }
    }

</style>