---
import BaseHead from "../components/BaseHead.astro"
import LoadingSpinner from "../components/UI/LoadingSpinner.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts"
---
<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <div class="spinner" id="spinner">
    <LoadingSpinner/>
  </div>
  <slot/>
</html>

<script>
const loader = document.getElementById('spinner')
const html = document.querySelector('html')

  if(loader && html){
    loader.style.display = 'flex'
    html.style.overflowY = 'hidden'
  }
  window.onload = function() {
  console.log('Todo el contenido del DOM, incluyendo imágenes, ha cargado.');
  
  if (loader && html){
    loader.style.display = 'none';
    html.style.overflowY = 'auto'
  }
    
};



  document.addEventListener('DOMContentLoaded', function() {
  const images = document.querySelectorAll('img');
  const loader = document.getElementById('spinner')
  let loadedImagesCount = 0;

  // images.forEach(function(image) {
  //   image.onload = function() {
  //     console.log(loadedImagesCount)
  //     console.log(images.length)
  //     loadedImagesCount++;
  //     if (loadedImagesCount === images.length && loader) {
  //       loader.style.display = 'none';
  //     }
  //   };
  // });
});

</script>