---
import BaseHead from "./BaseHead.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts"
import {LanguageProvider} from "../modules/Shared/context/LanguageContext"

const locale  = Astro?.currentLocale || 'en'
---
<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  
  <body>
    <LanguageProvider locale={locale} client:load>
      <slot/>
    </LanguageProvider>
  </body>
</html>

