---
import BaseHead from "./BaseHead.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts"
import { LanguageProvider } from "../modules/Shared/context/LanguageContext"
import LoadingSpinner from "../components/UI/LoadingSpinner.astro"

const locale  = Astro?.currentLocale || 'en'
---
<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <div class="spinner" id="spinner">
    <LoadingSpinner/>
  </div>
  
  <body>
    <LanguageProvider locale={locale} client:load>
      <slot/>
    </LanguageProvider>
  </body>
</html>

<style>
  html {
	  overflow-y: hidden;
  }

</style>

<script>
  const loader = document.getElementById('spinner')
  const html = document.querySelector('html')
  
    window.onload = function() {
    console.log('Todo el contenido del DOM, incluyendo imágenes, ha cargado.');
    
    if (loader && html){
      loader.style.display = 'none';
      html.style.overflowY = 'auto'
    }
      
  };
  </script>

