---
import Logo from '../components/Logo.astro';
import Dropdown from '../components/UI/Dropdown/TranslationMenu.astro';
import SesionMenu from '../components/UI/Dropdown/SesionMenu.astro';
import Essence from '../components/UI/EssenceCounter.astro';

const { path } = Astro.props
---
<nav class="flex justify-between w-full items-center sm:px-8 px-3 py-3">
	<Logo/>

	<div class="flex items-center">
		<div class={`essence ${path=="landing" ? 'hidden' : ''}`}>
			<Essence/>
		</div>
		
		<div class="flex items-center gap-x-7">
			<div class="svg">
				<Dropdown/>
			</div>

			<div class="svg">
				<SesionMenu/>
			</div>
		</div>
	</div>
</nav>

<style>
	@media (max-width: 720px) {
		svg {
			width: 24;
			height: 24;
		}
	}

	img {
		padding: 0.5em 1em;
	}
</style>
