---
const essence = parseInt(Astro.cookies.get('eons_essence')?.value || "0") || 0
---

<div class="rounded-full shadow-md hover:shadow-lg">
    <a href="/essence" class="flex items-center px-4 ">
       <img src="/fire.webp" alt="fire" class="object-contain w-[30px]" >
        <span class="ml-2">{essence}</span>
    </a>
</div>